<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
    <th:block th:object="${category}">
        <h2 class="mt-4 title" th:text="*{name}">카테고리 명</h2>
        <!-- 게시글 작성 버튼 -->
        <div class="my-3">
            <a th:href="@{/board/write/{categoryId}(categoryId=*{id})}" class="btn btn-primary">새 글 작성</a>
        </div>
    </th:block>
    <!-- 게시판 리스트 테이블 -->
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">비밀글</th>
        </tr>
        </thead>
        <tbody>
        <!-- 게시판 목록을 동적으로 출력 -->
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td>
                <a th:href="@{/board/view/{id}(id=${post.id})}" th:text="${post.title}">게시글 제목</a>
            </td>
            <td th:text="${post.author.name}"></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
            <td th:text="${post.secretYN}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${page.number == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board?categoryId={id}(id=${categoryId.id})(page=${page.number - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, page.totalPages)}"
                th:classappend="${i == page.number} ? 'active'">
                <a class="page-link" th:href="@{/board?categoryId={id}(id=${categoryId.id})(page=${i})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${page.number == page.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/board?categoryId={id}(id=${categoryId.id})(page=${page.number + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</section>
</body>
</html>